.main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "sidebar  main  main   main "
    "footer footer footer footer";
}

.main-container Navbar{
    background: rgba(0, 0, 255, 0.282);
    grid-area: "navbar";
}

.main-container Sidebar{
    background: rgb(28, 143, 192);
    grid-area: "sidebar";
}

.main-container MainContent{
    background: red;
}